CMakeLists.txt.user
build-*
train/.idea
train/.venv*
train/Uralochka3*
train/liburalochka3_batch*
train/*.epd
train/*.bat
train/data*
train/res
scripts/.idea
scripts/.venv*
scripts/Uralochka3*
scripts/*.epd
scripts/*.pgn
scripts/*.bat
scripts/data
scripts/res
scripts/*.nn
__pycache__
